{
  "env": { "es6": true },
  "parser": "esprima",
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "impliedStrict": true
    }
  },
  "extends": "eslint:recommended",
  "rules": {
    "no-prototype-builtins": 2,
    "no-unsafe-finally": 2,
    "accessor-pairs": [2, { "setWithoutGet": true }],
    "array-callback-return": 2,
    "block-scoped-var": 2,
    "consistent-return": 2,
    "curly": 2,
    "default-case": 2,
    "dot-location": [2, "property"],
    "dot-notation": 2,
    "no-alert": 2,
    "no-caller": 2,
    "no-div-regex": 2,
    "no-eval": 2,
    "no-extend-native": 2,
    "no-extra-bind": 2,
    "no-extra-label": 2,
    "no-floating-decimal": 2,
    "no-implicit-globals": 2,
    "no-implied-eval": 2,
    "no-iterator": 2,
    "no-labels": 2,
    "no-lone-blocks": 2,
    "no-loop-func": 2,
    "no-multi-spaces": 2,
    "no-multi-str": 2,
    "no-native-reassign": 2,
    "no-new": 2,
    "no-new-func": 2,
    "no-new-wrappers": 2,
    "no-octal": 2,
    "no-octal-escape": 2,
    "no-param-reassign": 2,
    "no-proto": 2,
    "no-redeclare": 2,
    "no-script-url": 2,
    "no-self-assign": 2,
    "no-self-compare": 2,
    "no-sequences": 2,
    "no-throw-literal": 2,
    "no-unmodified-loop-condition": 2,
    "no-unused-expressions": 2,
    "no-unused-labels": 2,
    "no-useless-call": 2,
    "no-useless-concat": 2,
    "no-useless-escape": 2,
    "no-void": 2,
    "no-with": 2,
    "radix": 2,
    "vars-on-top": 2,
    "wrap-iife": 2,
    "yoda": 2,
    "no-delete-var": 2,
    "no-label-var": 2,
    "no-undef": 2,
    "no-unused-vars": [2, { "args": "none" }],
    "no-use-before-define": 2,
    "array-bracket-spacing": 2,
    "block-spacing": 2,
    "brace-style": [2, "1tbs", { "allowSingleLine": true }],
    "camelcase": 2,
    "comma-spacing": 2,
    "comma-style": 2,
    "computed-property-spacing": 2,
    "consistent-this": 2,
    "eol-last": 2,
    "indent": [2, 2, { "VariableDeclarator": 2 }],
    "key-spacing": 2,
    "keyword-spacing": 2,
    "linebreak-style": 2,
    "lines-around-comment": 2,
    "max-len": [2, 120],
    "new-cap": 2,
    "new-parens": 2,
    "newline-per-chained-call": [2, { "ignoreChainWithDepth": 3 }],
    "no-array-constructor": 2,
    "no-continue": 2,
    "no-lonely-if": 2,
    "no-mixed-spaces-and-tabs": 2,
    "no-multiple-empty-lines": 2,
    "no-new-object": 2,
    "no-spaced-func": 2,
    "no-trailing-spaces": 2,
    "no-unneeded-ternary": 2,
    "no-whitespace-before-property": 2,
    "object-curly-newline": [2, { "multiline": true, "minProperties": 3 }],
    "object-curly-spacing": [2, "always"],
    "object-property-newline": [2, { "allowMultiplePropertiesPerLine": true }],
    "one-var-declaration-per-line": [2, "initializations"],
    "operator-assignment": [2, "always"],
    "operator-linebreak": [2, "after"],
    "padded-blocks": [2, "never"],
    "quote-props": [2, "consistent-as-needed"],
    "quotes": [2, "single", { "avoidEscape": true }],
    "semi": [2, "always"],
    "semi-spacing": [2, { "before": false, "after": true }],
    "space-before-blocks": [2, "always"],
    "space-before-function-paren": [2, "never"],
    "space-in-parens": 2,
    "space-infix-ops": 2,
    "space-unary-ops": [2, { "words": true, "nonwords": false }],
    "spaced-comment": 2
  }
}
