html, body { height: 100%; margin: 0; padding: 0; }
html { font-size: 10px; font-family: Helvetica, Arial, sans-serif; font-weight: lighter; }
body { font-size: 1.4rem; overflow: hidden; }

ul { margin: 0; padding: 0; list-style: none; }

.ui {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: default;
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.app-toolbar {
  display: flex;
  flex: 0 0 auto;
  margin: 0 0.5rem 0.5rem 0.5rem;
}
.app-hero {
  background: rgb(133, 0, 140);
  padding: 1rem 1.5rem;
  color: #fff;
  font-weight: bolder;
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}
.app-toolbar .toolbtn {
  display: none;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0.3rem;
  border-radius: 0.3rem;
}
.app-toolbar.open .toolbtn {
  display: block;
}
.app-toolbar .toolbtn:hover {
  background: rgba(0, 0, 0, 0.05);
}



.app-project {
  display: flex;
  flex: 1 1 10rem;
  flex-direction: row;
  align-items: stretch;
}

.app-right {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 1 1 auto;
  margin-top: 0.6rem;
  margin-right: 0.5rem;
}

.app-render {
  flex: 1 1 100px;
  overflow: hidden;

  border-radius: 0.2rem;
  border: 0.1rem solid rgb(200, 200, 200);
}

.app-editor {
  flex: 0 0 200px;
}

.app-scenes {
  flex: 0 0 auto;
  padding: 0 0.5rem;
  overflow-y: auto;
}
.app-scenes > * {
  min-height: 0;
}

.app-scenes-item .add-scene-before,
.app-scenes-item .add-scene-after {
  transition: all 100ms ease-in;
  text-align: center;
  font-size: 0.5rem;
  color: transparent;
  cursor: default;
}

.app-scenes-item .add-scene-before:hover,
.app-scenes-item .add-scene-after:hover {
  font-size: 2rem;
  color: lightblue;
}

.app-scenes-item .add-scene-before { display: none; }
li.app-scenes-item:first-child .add-scene-before { display: block; }

.app-scenes-item .rem-scene {
  text-align: center;
  font-size: 2rem;
  color: lightblue;
  border-radius: 100%;
}
.app-scenes-item:hover .rem-scene {
  background: rgba(255, 255, 255, 0.5);
  color: lightblue;
}

.app-scene {
  margin: 0 auto;
  padding: 0.5rem;
}
.app-scene.selected {
  background: rgba(0, 77, 140, 0.05);
}
.app-scene:hover .app-scene-preview {
  border: 0.1rem solid rgb(0, 77, 140);
}
.app-scene.selected .app-scene-preview,
.app-scene.selected:hover  .app-scene-preview {
  border: 0.1rem solid rgb(0, 77, 140);
}

.app-scene-preview {
  background: darkblue;
  transition: all 200ms ease-in;
  width: 19.2rem;
  height: 0;
  box-sizing: border-box;
  border: 0.1rem solid rgb(200, 200, 200);
  border-radius: 0.2rem;
}
.app-scene:only-child .app-scene-preview {
  transition: none;
}
.appear .app-scene-preview {
  height: 10.8rem;
}

.app-states {
}
.app-state {
  padding: 0.3rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.app-state.selected {
  background: rgba(0, 77, 140, 0.05);
}

.app-state .app-state-indicator {
  transition: all 100ms ease-in;
  border-radius: 100%;
  background: rgb(200, 200, 200);
  width: 0.5rem;
  height: 0.5rem;
}
.app-state:hover .app-state-indicator {
  background: rgb(0, 77, 140);
}
.app-state .app-state-duration {
  font-size: 0.8rem;
}

.btn {
  border: 0.1rem solid rgb(200, 200, 200);
  border-radius: 0.3rem;
  padding: 0.5rem 1rem;
}
.btn:hover {
  background: rgba(0, 0, 0, 0.05);
}
li.btn {
  border-radius: 0;
  border-right-width: 0;
}
li.btn:first-child {
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}
li.btn:last-child {
  border-right-width: 0.1rem;
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}


.dialog-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}
.dialog-frame {
  background: rgb(220, 220, 220);
  border: 1px solid rgb(190, 190, 190);
  border-radius: 0.5rem;
  padding: 2rem;
  flex: 0 1 auto;
  min-width: 15rem;
  max-width: 85%;
}
.dialog-message {
  margin: 1rem;
  text-align: center;
}
.dialog-buttons {
  display: flex;
  justify-content: center;
}
