html, body { height: 100%; margin: 0; padding: 0; }
html { font-size: 10px; font-family: Helvetica, Arial, sans-serif; font-weight: lighter; }
body { font-size: 1.4rem; overflow: hidden; }

ul { margin: 0; padding: 0; list-style: none; }

.ui {
  user-select: none;
  cursor: default;
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.app-toolbar {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
}
.app-toolbar li.btn {
  display: none;
}
.app-toolbar.open .btn {
  display: initial;
}

.app-hero {
  background: rgb(133, 0, 140);
  padding: 1rem 4.6rem;
  color: #fff;
  font-weight: bolder;
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  margin: 0 0.8rem;
}
.app-toolbar .toolbtn {
  display: none;
  padding: 0.4rem 0.7rem;
  margin: 0 0.3rem;
  border-radius: 0.3rem;
}
.app-toolbar.open .toolbtn {
  display: block;
}
.app-toolbar .toolbtn:hover {
  background: rgba(0, 0, 0, 0.05);
}



.app-project {
  display: flex;
  flex: 1 1 10rem;
  flex-direction: row;
  align-items: stretch;
}

.app-right {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 1 1 auto;
  margin-top: 0.6rem;
}

.app-render {
  flex: 1 1 10rem;
  overflow: hidden;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.app-render > canvas {
  min-height: 0;
  display: block;
  margin: auto;
  padding: 0;
  border: 0.1rem dotted rgb(200, 200, 200);
  border-radius: 0.2rem;
  box-sizing: border-box;
}

.app-player {
  margin-top: -4.5rem;
  padding: 0 0.5rem;
  flex: 0 0 5.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.app-player-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.1rem 1rem;
  /*border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;*/
}


.app-editor {
  flex: 0 0 160px;
}


.app-scenes {
  flex: 0 0 auto;
  padding: 0 0.5rem;
  overflow-y: auto;
  min-height: 0;
}

.app-scene {
  padding: 0.3rem;
}

.app-scenes-item .add-scene-before,
.app-scenes-item .add-scene-after {
  transition: all 100ms ease-in;
  text-align: center;
  font-size: 0.5rem;
  color: transparent;
  cursor: default;
}

.app-scenes-item .add-scene-before:hover,
.app-scenes-item .add-scene-after:hover,
.app-scenes-item:last-child .add-scene-after {
  font-size: 2rem;
  color: lightblue;
}

.app-scenes-item .add-scene-before { display: none; }
li.app-scenes-item:first-child .add-scene-before { display: block; }

.app-scenes-item .rem-scene {
  text-align: center;
  font-size: 2rem;
  color: lightblue;
  border-radius: 100%;
}
.app-scenes-item:hover .rem-scene {
  background: rgba(255, 255, 255, 0.5);
  color: lightblue;
}



.app-scene {
  margin: 0 auto;
  /*border-left: 0.5rem solid transparent; */
  overflow: hidden;
}
.app-scenes-item.selected .app-scene {
  background: rgba(0, 77, 140, 0.05);
}

.app-scenes-item.current .app-scene {
  /* border-left: 0.5rem solid blue; */
}

.app-scene .add-state {
  margin: 0 auto;
  width: 1.1em;
}

.app-scene-preview {
  transition: all 0.2s ease-in;
  width: 12.8rem;
  height: 0;
  box-sizing: border-box;
  border: 0.1rem solid rgb(200, 200, 200);
  border-radius: 0.2rem;
}
.app-scene:only-child .app-scene-preview {
  transition: none;
}
.appear .app-scene-preview {
  height: 7.2rem;
}

.app-scene-control {
  transition: all 0.2s ease-in;
  width: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  z-index: 1;
}
.app-scene-preview:hover .app-scene-control {
  width: 2rem;
}
.app-scene-control .material-icons {
  display: block;
  color: rgb(200, 200, 200);
  font-size: 1.8rem;
}


.app-states {}

.app-state {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app-state:nth-child(even) {
  background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%);
}

.app-state.selected {
  background: rgba(0, 0, 0, 0.3);
}

.app-state:hover .app-state-indicator {
  background: #607d8b
}

.app-state.current .app-state-indicator,
.app-state.current:hover .app-state-indicator {
  background: rgb(76, 175, 80);
}

.app-state .app-state-duration {
  font-size: 0.8rem;
}

.dialog-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}
.dialog-frame {
  background: rgb(220, 220, 220);
  border: 1px solid rgb(190, 190, 190);
  border-radius: 0.5rem;
  padding: 2rem;
  flex: 0 1 auto;
  min-width: 15rem;
  max-width: 85%;
}
.dialog-message {
  margin: 1rem;
  text-align: center;
}
.dialog-buttons {
  display: flex;
  justify-content: center;
}
